:root {
    --head-nav-h: 5rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #29B1DD;
    height: var(--head-nav-h);
}

nav {
    background: #29B1DD;
    height: var(--head-nav-h);
}

main {
    height: calc(100vh - 2 * var(--head-nav-h));
    background: #DDDDDD;
}

.box {
    width: calc(100% / 5 - 6rem);
    margin: 2rem 3rem;
    padding: 1.5rem 0;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 3px 5px 1px grey;
    text-align: center;
}

.fas {
    font-size: 3rem;
    vertical-align: middle;
}